@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Tac+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #0A101E;
    overflow: hidden;
    position: relative;
}

.main .bgtext {
    font-size: 190px;
    font-weight: bold;
    -webkit-text-stroke: 2px #FEC544;
    color: transparent;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    animation: slide-left 6s linear infinite; 
}

.main .bgtext span{
    color: #FEC544;
}


@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-30%);
    }
}

.contentcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 80%;
    /* background: rgb(16, 22, 36); */
    background-color: rgba(16, 22, 36, 0.5); 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    z-index: 2;
}

/* -------------------------------------------------- */

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background: #101624; */
    background-color: rgba(16, 22, 36, 0.5); 

}

.statscontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97%;
    width: 97%;
    position: relative; 
    /* background-color: #101624; */
    background-color: rgba(16, 22, 36, 0.5); 

    border: 5px solid #0A101E;
}

.statscontentmenubar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: auto;
    background: #0A101E;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: sticky;
    top: 0; 
    z-index: 10; 
    padding: 10px 20px; 
}

.statscontentmenubar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: auto; /* Adjust to fit content */
    padding: 0;
    margin: 0;
    list-style: none;
}

.statscontentmenubar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 15px; /* Adjust margin for spacing */
}

.statscontentmenubar ul li a {
    text-decoration: none;
    color: #FEC544;
    font-size: 20px; /* Adjust icon size */
    transition: 0.3s ease-in-out;
}

.statscontentmenubar ul li a:hover {
    color: #fff;
    font-size: 22px;

}

.statscontentmenubar ul li a.active {
    color: #fff;
    font-size: 22px;
}

/* Parent container */
.statscontentbody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.statscontentbody::-webkit-scrollbar {
    width: 0px;
}
.statscontentbody::-webkit-scrollbar-track {
    background: #0A101E;
}
.statscontentbody::-webkit-scrollbar-thumb {
    background: #172034;
    border-radius: 10px;
}
.statscontentbody::-webkit-scrollbar-thumb:hover {
    background: #0A101E;
}

.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 90px 40px;
    box-sizing: border-box;
    margin: 0; 
}


.herosectioncontent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: auto;
    color: white;
    padding: 20px;
}

.herosectioncontent h2{
    font-size: 22px;
    font-weight: 300;
}

.herosectioncontent h1{
    font-size: 25px;
    font-weight: 400;
    color: #FEC544;
    text-transform: uppercase;
}

.herosectioncontent p{
    font-size: 14px;
    font-weight: 200;
    /* text-align: center; */
}

.herobtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.socialmediaicons{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.socialmediaicons a{
    padding: 10px;
    color: #FEC544;
    font-size: 15px;
    background: #0A101E;
    margin: 5px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.socialmediaicons a:hover{
    background-color: #FEC544;
    color: #0A101E;
}

.resumebtn a{
    text-decoration: none;
    font-size: 16px;
    background-color: #FEC544;
    padding: 5px 15px;
    font-weight: bolder;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    color: #0A101E;
}

.resumebtn a:hover{
    background-color: #0A101E;
    color: #FEC544;
}

.herosectionimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.herosectionimg img {
    width: 40%;
    height: auto;
    border-radius: 30% 70% 70% 30% / 30% 65% 35% 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 10px;
    border: 2px solid #FEC544;
    transition: 0.3s ease-in-out;
    animation: changeBorderRadius 5s infinite linear;
}

@keyframes changeBorderRadius {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 65% 35% 70%;
    }
    25% {
        border-radius: 50% 30% 70% 50% / 30% 65% 35% 70%;
    }
    50% {
        border-radius: 10% 90% 20% 80% / 30% 65% 35% 70%;
    }
    75% {
        border-radius: 70% 50% 20% 80% / 30% 65% 35% 70%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 65% 35% 70%;
    }
}


.herosectionimg img:hover{
    border-radius: 76% 24% 66% 34% / 54% 72% 28% 46%;
}
/* ---------------------------------------------- */

.experties{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    padding: 90px 40px;
}

.experties h1{
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FEC544;
}

.experties p{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    padding: 0 50px;
}

.expertiescards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.expertycard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 200px;
    background: #172034;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-in-out;
}

.expertycard:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0px rgba(0, 0, 0, 0.0);
}

.expertycard h2{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.expertycard img{
    width: 100px;
    padding: 20px;
    height: auto;
    background: #0A101E;
    border-radius: 100%;
    border: 1px solid #FEC544;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
}

.projects h1{
    font-size: 32px;
    font-weight: 300;
    color: #FEC544;
    text-transform: uppercase;
}

.projectscards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
}

.projectcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 350px;
    padding: 20px;
    margin: 10px;
    color: white;
    /* box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
    transition: 0.3s ease-in-out;
    text-decoration: none;
    background-color: #0A101E;
}

.projectcard:hover{
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.projectcard img{
    width: 100%;
    height: auto;
}

.projectcard h2{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}

.projectcard p{
    font-size: 13px;
    font-weight: 200;
    text-align: center;
}

.contactsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 60px 20px;
    color: white;
}

.contactimg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.contactimg img{
    width: 70%;
}

.contactcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.contactcontent h1{
    font-size: 32px;
    font-weight: 300;
}

.contactcontent h1 span{
    font-size: 32px;
    font-weight: 500;
    color: #FEC544;
}

.contactcards{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #0A101E;
    padding: 20px;
    margin: 6px;
    border-radius: 20px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

}

.contactcard{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* padding: 20px; */
    /* margin: 10px; */
}

.contactcard h2{
    font-size: 18px;
    font-weight: 300;
    font-weight: 22px;
    color: #fff;
}

.contactcard .fas{
    color: #FEC544;
    font-size: 24px;
    padding: 15px;
}

.foote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: white;
    background: #0A101E;
    padding: 0px 10px;
}

.foote p{
    font-weight: 200;
}


@media (max-width: 1100px){
    .projectcard{
        width: 45%;
    }
}

@media (max-width: 1000px){
    .herosection{
        flex-direction: column-reverse;
        height: auto;
    }

    .herosectioncontent{
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .herosectioncontent h1,h2,p{
        text-align: center;
    }

    .herobtns{
        flex-direction: column;
    }

    .socialmediaicons{
        padding: 15px 0;
    }

    .herosectionimg{
        width: 80%;
    }

    .experties{
        height: auto;
    }

    .expertiescards{
        flex-wrap: wrap;
    }

    .expertycard{
        width: 45%;
    }

    .projects{
        height: auto;
    }

    .projectcard{
        width: 45%;
    }
}

@media (max-width: 1000px){
    .herosection{
        flex-direction: column-reverse;
        height: auto;
    }

    .herosectioncontent{
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .herosectioncontent h1,h2,p{
        text-align: center;
    }

    .herosectioncontent h1{
        font-size: 20px;
    }

    .herosectioncontent p{
        font-size: 13px;
    }

    .herobtns{
        flex-direction: column;
    }

    .socialmediaicons{
        padding: 15px 0;
    }

    .herosectionimg{
        width: 80%;
    }

    .experties{
        height: auto;
    }

    .expertiescards{
        flex-wrap: wrap;
    }

    .expertycard{
        width: 80%;
    }

    .projects{
        height: auto;
    }

    .projectcard{
        width: 80%;
        height: auto;
    }

    .contactsection{
        flex-direction: column;
    }

    .contactcontent{
        width: 80%;
    }

    .contactimg{
        display: none;
    }

    .foote{
        flex-direction: column-reverse;
    }

}

@media (max-width: 600px){
    .main{
        height: 100dvh;
    }

    .contentcontainer{
        width: 90%;
        height: 90%;
    }

    .herosection{
        flex-direction: column-reverse;
        height: auto;
    }

    .herosectioncontent{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .herosectioncontent h1,h2,p{
        text-align: center;
    }

    .herosectioncontent h1{
        font-size: 20px;
    }

    .herosectioncontent p{
        font-size: 13px;
    }

    .herobtns{
        flex-direction: column;
    }

    .socialmediaicons{
        padding: 15px 0;
    }

    .herosectionimg{
        width: 100%;
    }

    .herosectionimg img{
        width: 60%;
    }

    .experties{
        height: auto;
    }

    .expertiescards{
        flex-wrap: wrap;
    }

    .expertycard{
        width: 100%;
    }

    .experties p{
        padding: 0 10px;
    }

    .projects{
        height: auto;
    }

    .projectcard{
        width: 100%;
    }

    .projectcard h2{
        font-size: 14px;
    }

    .projectcard p{
        font-size: 11px;
    }

    .contactsection{
        flex-direction: column;
    }

    .contactcontent{
        width: 100%;
    }

    .contactcard h2{
        font-size: 14px;
    }
}

/* ----------------------------------- */

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px #FEC544;
    border: 1px solid #FEC544;
    pointer-events: none;
    transform: translate(-70%, -70%);
    transition: transform 3s ease-in-outs, background-color 0.2s;
    z-index: 1000;
}

/* Initial state */
.herosection {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation when in viewport */
.herosection.animate {
    opacity: 1;
    transform: translateY(0);
}

